---
import Plantilla from '@/plantillas/Plantilla.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';
import { getEntry } from 'astro:content';
import type { ImageMetadata } from 'astro';
import * as predeterminada from '../../imgs/white-paper.jpg';

const pagina = await getEntry('paginas', 'lab');
const entradas = await getCollection('lab', ({ data }) => (import.meta.env.PROD ? !data.draft : true)).then(
  (archivos) =>
    archivos.sort((a, b) => {
      return b.data.date.getTime() - a.data.date.getTime();
    })
);
const { Content } = await pagina.render();
const imagenes = import.meta.glob<{ default: ImageMetadata }>('../../imgs/lab/*.{jpeg,jpg,png,gif}');
const formatoFecha: Intl.DateTimeFormatOptions = { dateStyle: 'full', timeZone: 'America/Bogota' };
---

<Plantilla>
  <main role="main" class="with-nav archive lab-archive">
    <header class="page-header">
      <h1 class="page-title">{pagina?.data.title}</h1>
      <div class="page-description"><Content /></div>
    </header>

    <section class="archive-items">
      {
        entradas &&
          entradas.map((entrada) => {
            const descripcion = entrada.data.descriptionLong ? entrada.data.descriptionLong : entrada.data.description;
            const rutaImg = entrada.data.imgName
              ? imagenes[`../../imgs/lab/${entrada.data.imgName}`]()
              : predeterminada.default;

            return (
              <div class={`item${entrada.data.draft ? ' draft' : ''}`}>
                <div class="info">
                  <h3 class="item-title">
                    <a href={`/lab/${entrada.slug}`}>{entrada.data.title}</a>
                  </h3>
                  <p class="item-date">{new Intl.DateTimeFormat('en-US', formatoFecha).format(entrada.data.date)}</p>
                  {descripcion && <div class="item-description" set:html={descripcion} />}
                </div>

                <div class="item-img">
                  <a href={`/lab/${entrada.slug}`}>
                    <Image
                      src={rutaImg}
                      widths={[240, 540, 720]}
                      sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px`}
                      alt={entrada.data.title}
                    />
                  </a>
                </div>
              </div>
            );
          })
      }
    </section>
  </main>
</Plantilla>
