{{> head }}
<main class="archive datasets-archive">
  <header class="page-header">
    <h1 class="page-title">{{ title }}</h1>
    <div class="page-description">{{{ contents }}}</div>
  </header>

  {{#each collections.datasets}}{{#unless archive}}
  <section class="item {{ slug }}">
    <h3 class="item-title"><a href="{{ setURL 'datasets' slug true }}">{{ title }}</a></h3>

    <div class="item-description">
      <div class="description-section">
        <span class="description-title">Summary:</span>
        {{#if description }} {{ description }} {{else}} {{#if excerpt }} {{{ excerpt }}} {{/if}} {{/if}}
      </div>

      <div class="description-section">
        <span class="description-title">Source:</span><a href="{{ sourceURL }}" target="_blank">{{ sourceURL }}</a>
      </div>

      <div class="description-section">
        {{#if linkTag}}
          <span class="description-title">Related:</span>
          <ul class="related related-to-{{ linkTag }}">
          </ul>
        {{/if}}
      </div>

    </div>
  </section>
  {{/unless}}{{/each}}
</main>
{{> footer }}