{{> head }}
<main role="main" class="with-nav archive lab-archive">
  <header class="page-header">
    <h1 class="page-title">{{ title }}</h1>
    <div class="page-description">{{{ contents }}}</div>
  </header>
  <section class="archive-items">
    {{#each collections.lab}}{{#unless archive}}
    <div class="item {{ slug }}">
      <div class="info">
        <h3 class="item-title"><a href="{{ setURL 'lab' slug true }}">{{ title }}</a></h3>
        <div class="item-description">
          {{#if description }}{{ description }}{{ else }}{{{ contents }}}{{/if}}
        </div>
      </div>
      <div class="item-img">
        <a href="{{ setURL 'lab' slug true }}">
          <img src="{{ getThumb thumb }}" alt="{{ title }}">
        </a>
      </div>

    </div>
    {{/unless}}{{/each}}
  </section>
</main>
{{> footer }}