{{> head}}
<main class="with-nav single-notations {{slug}}">

  <section id="box" class="content">
    <a id="close-box" href="#" class="close">X</a>
    {{{contents}}}
  </section>

  <section id="ddd-container">
    <div id="top-row">
      <header id="header">
        <span class="film-title">{{title}} ({{year}})</span>
        <span class="film-director">by {{director}}</span>
      </header>

      {{#if videos}}
      <div id="video-container">
        <video id="video" width="640" height="404" preload {{#if poster}}poster="../../img/posters/{{poster}} {{/if}}">
        {{setVideos videos}}
        You need to update your browser to play this video.
        </video>
      </div>
      {{/if}}

      <div id="description">
        {{#if excerpt}} {{{excerpt}}} {{/if}}
        {{#if contents}}<a id="notes" href="#" title="About">Read more</a>{{/if}}
      </div>
    </div>

  </section>
</main>

{{#if libraries}}
  {{setLibraries libraries}}
{{/if}}

{{#if scripts}}
  {{setScripts scripts}}
{{/if}}

<script src ="{{setURL 'js' 'ddd.min.js' false}}"></script>
<script src ="{{setURL 'js' 'Notations.js' false}}"></script>
<script src ="./js/scripts.js"></script>
{{> footer}}