{{> head}}
<main class="with-nav single-notations {{slug}}">

  <section id="box" class="content">
    <a id="close-box" href="#" class="close">X</a>
    {{{contents}}}
  </section>

  <section id="ddd-container">
    <div id="left-col">
      <header>
        <h1 class="film-title">{{title}} ({{year}})</h1>
        <h3 class="film-director">by {{director}}</h3>
      </header>

      {{#if videos}}
      <video id="video" width="640" height="404" preload {{#if poster}}poster="../../img/posters/{{poster}} {{/if}}">
      {{setVideos videos}}
      You need to update your browser to play this video.
      </video>
      {{/if}}

      <div id="description">
        {{#if excerpt}} {{{excerpt}}} {{/if}}
        {{#if contents}}<a id="notes" href="#" title="About">Read more</a>{{/if}}
        {{#if disclaimer}}<p class="disclaimer">{{{disclaimer}}}</p>{{/if}}
      </div>
    </div>

  </section>
</main>

{{#if libraries}}
  {{setLibraries libraries}}
{{/if}}

{{#if scripts}}
  {{setScripts scripts}}
{{/if}}

<script src ="{{dddLibrary}}"></script>
<script src ="/js/Notations.js"></script>
<script src ="./js/scripts.js"></script>
{{> footer}}