{{> head }}
<main class="{{slug title}}">
  <section id="ddd-container">
    <span id="ddd-loading" class="loading">...</span>
  </section>

  <section id="content">
    {{{ contents }}}
  </section>
</main>

{{#if libraries}}
  {{setLibraries libraries}}
{{/if}}

{{#if scripts}}
<script src="{{ setURL 'js/lab/' }}{{ scripts }}"></script>
{{/if}}
{{> footer }}