{{> head }}
{{#each collections.lab}}{{#unless archive}}
{{ title }}

<a href="../{{ path }}" title="{{ title }}"><img src="{{ getThumb thumb }}" alt="{{ title }}"></a>
{{/unless}}{{/each}}
{{> footer }}