{{> head}}
<main role="main" class="with-nav archive datasets-archive">
  <header class="page-header">
    <h1 class="page-title">{{ title }}</h1>
    <div class="page-description">{{ contents }}</div>
  </header>

  {{#each collections.datasets}}{{#unless archive}}
  <section class="item {{ slug }}">
    <h3 class="item-title">
      <a href="{{setURL 'datasets' slug true}}">{{ title }}</a>
    </h3>

    <div class="item-description">
      {{#if description}}
      <p>Summary: {{ description }}</p>
      {{/if}} {{#if parsedURL}}
      <p>
        Parsed (JSON): <a href="{{ parsedURL }}" target="_blank" rel="noopener">{{ parsedURL }}</a>
      </p>
      {{/if}}
      {{#if sourceURL}}
      <p>
        Source: <a href="{{ sourceURL }}" target="_blank" rel="noopener">{{ sourceURL }}</a>
      </p>
      {{/if}} {{#if tagLink}}{{ getRelatedPosts tagLink 'lab' }}{{/if}}
    </div>
  </section>
  {{/unless}}{{/each}}
</main>
{{> footer}}
