{{> head}}
<main role="main" class="lab-single {{slug}}">
  <section id="ddd-container"></section>
</main>

{{#if libraries}}
  {{setLibraries libraries}}
{{/if}}

{{#if scripts}}
  {{setScripts scripts}}
{{/if}}

<script src ="{{setURL 'js' 'ddd.min.js' false}}"></script>
{{#if skipJS}}
  <script src="{{ setJS slug }}"></script>
{{else}}
  <script src="./js/scripts.js"></script>
{{/if}}

{{#if extScripts}} {{setExtScripts extScripts}} {{/if}}

{{> footer}}