{{> head}}
<main role="main" class="with-nav single-notations {{slug}}">

  <div id="box" class="content"><a id="close-box" href="#" class="close">X</a>{{{contents}}}</div>

  <section id="ddd-container">
    <div id="left-col">
      <header>
        <h1 class="film-title">{{title}} ({{year}})</h1>
        <h3 class="film-director">by {{director}}</h3>
      </header>

      {{#if videos}}
      <video id="video" width="640" height="404" preload {{#if poster}}poster="{{setURL '/img/assets/posters/' poster}}{{/if}}">
      {{setVideos videos}}
      You need to update your browser to play this video.
      </video>
      {{/if}}

      <div id="description">
        <p>See: <a id="notes" href="#" title="About">McLaren's notes</a> for information about the context in which McLaren created these notations.</p>
        <p class="disclaimer">This application is created for educational and research purposes only. The Copyright of the source material (images and video) belong to The National Film Board of Canada.</p>
      </div>
    </div>

    <div id="middle-col">
      <p class="loading">Loading Timeline...</p>
    </div>

    <div id="right-col">
      <p class="loading">Loading Notations...</p>
      <canvas id="notations" height="0"></canvas>
    </div>

  </section>
</main>

{{#if libraries}}
  {{setLibraries libraries}}
{{/if}}

{{#if scripts}}
  {{setScripts scripts}}
{{/if}}

<script src ="{{setURL 'js' 'ddd.min.js' false}}"></script>
<script src ="{{setURL 'js' 'Notations.js' false}}"></script>
<script src ="./js/scripts.js"></script>
{{> footer}}