{{> head}}
<main class="with-nav single-notations {{ slug }}">
  <section id="box" class="content">
    <a id="close-box" href="#" class="close">X</a>
    {{ contents }}
  </section>

  <section id="ddd-container">
    <div id="top-row">
      <header id="header">
        <span class="film-title">{{ title }} ({{ year }})</span>
        <span class="film-director">by {{ director }}</span>
      </header>
    </div>

    <div id="left" style="position: fixed; width: 60%">
      <div id="label-box">
        <p id="pol"></p>
        <p id="eng"></p>
      </div>
    </div>

    {{#if videos}}
    <div id="video-container">
      <video
        id="video"
        width="640"
        height="404"
        preload
        {{#if
        poster}}poster="{{setURL '/img/assets/posters/' poster}}{{/if}}"
      >
        {{setVideos videos}}
        You need to update your browser to play this video.
      </video>
    </div>
    {{/if}}

    <div id="bottom" style="position: fixed; width: 100%; bottom: 0"></div>
  </section>
</main>

{{#if scripts}}
{{setScripts scripts}}
{{/if}}

<script src="{{ setJS slug }}"></script>
{{> footer}}
